<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <%- include('partials/head', { title: 'Smart Room' }) %>
    <link rel="stylesheet" href="/css/paginaLogin.css">
</head>
<body>
    <div id="container">
        <h1>Entre no Smart Room</h1>
        <form method="POST">
            <input type="text" name="matricula" placeholder="MATRÍCULA" required>
            <input type="password" name="senha_aluno" placeholder="SENHA" required>
            <button type="submit">LOGIN</button>
        </form>
        <a href="/cadastro">Ainda não tem cadastro?</a>
    </div>
    <script src="/js/paginaLogin.js"></script>
</body>
</html>
